@model USportsNews.Models.Entity.Tbl_Haber

@{
    ViewBag.Title = "Haber";
    Layout = "~/Views/Shared/HaberLayout.cshtml";
}

@*Hangi haberin listeleneceğinin anlaşılması için Form kullanıldı .*@

@using (Html.BeginForm("Haberler", "Basketbol", FormMethod.Post))
{

    <table class="table table-borderless table-bordered  mt-4" style="background-color:white;">

        <tr>
            <td> </td>
        </tr>
        <tr>

            <td style="text-align:center"> <h1> <strong style="text-align:center" class="align-top">  @Model.HaberBaslik </strong>  </h1></td>
        </tr>

        <tr>
            <td style="opacity:0.5">
                Haber Tarihi : <strong> @Model.HaberTarih </strong>
                <br />
                <strong> | @Model.Tbl_Kategori.KategoriAdi</strong>
                <br />

                Yazar : @Model.Tbl_Yazar.YazarAdi  @Model.Tbl_Yazar.YazarSoyadi
            </td>

        </tr>
        <tr>
            <td> @Model.HaberOzet</td>
        </tr>
        <tr>
            <td style="text-align:center"> <img src="@Model.HaberGorsel" alt="Alternate Text" /></td>
        </tr>
        <tr>

            <td>
                @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.HaberIcerik)) @*HTML kod çözücü, veri tabanında html dilinde tutulan dili çevirir.*@
            </td>
        </tr>
        <tr>
            <td style="border-left-color:red;border-left-width:thin;">


                <span class="border border-danger">
                    Etiket(ler) :
                    @Model.Etiket
                </span>



            </td>
        </tr>

        <tr>
            <td> </td>
        </tr>
    </table>



    //substring(0,45) kısaltmak için
}